.flag { background: url('/assets/img/flags-sprite.png') no-repeat top left; display:inline-block; line-height: 12px;}
.flag.flag-ad { background-position: 0px 0px; width: 16px; height: 11px;  }
.flag.flag-ae { background-position: -16px 0px; width: 16px; height: 11px;  }
.flag.flag-af { background-position: -32px 0px; width: 16px; height: 11px;  }
.flag.flag-ag { background-position: -48px 0px; width: 16px; height: 11px;  }
.flag.flag-ai { background-position: -64px 0px; width: 16px; height: 11px;  }
.flag.flag-al { background-position: -80px 0px; width: 16px; height: 11px;  }
.flag.flag-am { background-position: -96px 0px; width: 16px; height: 11px;  }
.flag.flag-an { background-position: -112px 0px; width: 16px; height: 11px;  }
.flag.flag-ao { background-position: -128px 0px; width: 16px; height: 11px;  }
.flag.flag-ar { background-position: -144px 0px; width: 16px; height: 11px;  }
.flag.flag-as { background-position: -160px 0px; width: 16px; height: 11px;  }
.flag.flag-at { background-position: -176px 0px; width: 16px; height: 11px;  }
.flag.flag-au { background-position: -192px 0px; width: 16px; height: 11px;  }
.flag.flag-aw { background-position: -208px 0px; width: 16px; height: 11px;  }
.flag.flag-ax { background-position: -224px 0px; width: 16px; height: 11px;  }
.flag.flag-az { background-position: -240px 0px; width: 16px; height: 11px;  }
.flag.flag-ba { background-position: -256px 0px; width: 16px; height: 11px;  }
.flag.flag-bb { background-position: -272px 0px; width: 16px; height: 11px;  }
.flag.flag-bd { background-position: -288px 0px; width: 16px; height: 11px;  }
.flag.flag-be { background-position: -304px 0px; width: 16px; height: 11px;  }
.flag.flag-bf { background-position: -320px 0px; width: 16px; height: 11px;  }
.flag.flag-bg { background-position: -336px 0px; width: 16px; height: 11px;  }
.flag.flag-bh { background-position: -352px 0px; width: 16px; height: 11px;  }
.flag.flag-bi { background-position: -368px 0px; width: 16px; height: 11px;  }
.flag.flag-bj { background-position: -384px 0px; width: 16px; height: 11px;  }
.flag.flag-bm { background-position: -400px 0px; width: 16px; height: 11px;  }
.flag.flag-bn { background-position: -416px 0px; width: 16px; height: 11px;  }
.flag.flag-bo { background-position: -432px 0px; width: 16px; height: 11px;  }
.flag.flag-br { background-position: -448px 0px; width: 16px; height: 11px;  }
.flag.flag-bs { background-position: -464px 0px; width: 16px; height: 11px;  }
.flag.flag-bt { background-position: -480px 0px; width: 16px; height: 11px;  }
.flag.flag-bv { background-position: -496px 0px; width: 16px; height: 11px;  }
.flag.flag-bw { background-position: -512px 0px; width: 16px; height: 11px;  }
.flag.flag-by { background-position: -528px 0px; width: 16px; height: 11px;  }
.flag.flag-bz { background-position: -544px 0px; width: 16px; height: 11px;  }
.flag.flag-ca { background-position: -560px 0px; width: 16px; height: 11px;  }
.flag.flag-catalonia { background-position: -576px 0px; width: 16px; height: 11px;  }
.flag.flag-cc { background-position: -592px 0px; width: 16px; height: 11px;  }
.flag.flag-cd { background-position: -608px 0px; width: 16px; height: 11px;  }
.flag.flag-cf { background-position: -624px 0px; width: 16px; height: 11px;  }
.flag.flag-cg { background-position: -640px 0px; width: 16px; height: 11px;  }
.flag.flag-ch { background-position: -656px 0px; width: 11px; height: 11px;  }
.flag.flag-ci { background-position: -667px 0px; width: 16px; height: 11px;  }
.flag.flag-ck { background-position: -683px 0px; width: 16px; height: 11px;  }
.flag.flag-cl { background-position: -699px 0px; width: 16px; height: 11px;  }
.flag.flag-cm { background-position: -715px 0px; width: 16px; height: 11px;  }
.flag.flag-cn { background-position: -731px 0px; width: 16px; height: 11px;  }
.flag.flag-co { background-position: -747px 0px; width: 16px; height: 11px;  }
.flag.flag-cr { background-position: -763px 0px; width: 16px; height: 11px;  }
.flag.flag-cs { background-position: -779px 0px; width: 16px; height: 11px;  }
.flag.flag-cu { background-position: -795px 0px; width: 16px; height: 11px;  }
.flag.flag-cv { background-position: -811px 0px; width: 16px; height: 11px;  }
.flag.flag-cx { background-position: -827px 0px; width: 16px; height: 11px;  }
.flag.flag-cy { background-position: -843px 0px; width: 16px; height: 11px;  }
.flag.flag-cz { background-position: -859px 0px; width: 16px; height: 11px;  }
.flag.flag-de { background-position: -875px 0px; width: 16px; height: 11px;  }
.flag.flag-dj { background-position: -891px 0px; width: 16px; height: 11px;  }
.flag.flag-dk { background-position: -907px 0px; width: 16px; height: 11px;  }
.flag.flag-dm { background-position: -923px 0px; width: 16px; height: 11px;  }
.flag.flag-do { background-position: -939px 0px; width: 16px; height: 11px;  }
.flag.flag-dz { background-position: -955px 0px; width: 16px; height: 11px;  }
.flag.flag-ec { background-position: -971px 0px; width: 16px; height: 11px;  }
.flag.flag-ee { background-position: -987px 0px; width: 16px; height: 11px;  }
.flag.flag-eg { background-position: -1003px 0px; width: 16px; height: 11px;  }
.flag.flag-eh { background-position: -1019px 0px; width: 16px; height: 11px;  }
.flag.flag-england { background-position: -1035px 0px; width: 16px; height: 11px;  }
.flag.flag-er { background-position: -1051px 0px; width: 16px; height: 11px;  }
.flag.flag-es { background-position: -1067px 0px; width: 16px; height: 11px;  }
.flag.flag-et { background-position: -1083px 0px; width: 16px; height: 11px;  }
.flag.flag-europeanunion { background-position: -1099px 0px; width: 16px; height: 11px;  }
.flag.flag-fam { background-position: -1115px 0px; width: 16px; height: 11px;  }
.flag.flag-fi { background-position: -1131px 0px; width: 16px; height: 11px;  }
.flag.flag-fj { background-position: -1147px 0px; width: 16px; height: 11px;  }
.flag.flag-fk { background-position: -1163px 0px; width: 16px; height: 11px;  }
.flag.flag-fm { background-position: -1179px 0px; width: 16px; height: 11px;  }
.flag.flag-fo { background-position: -1195px 0px; width: 16px; height: 11px;  }
.flag.flag-fr { background-position: -1211px 0px; width: 16px; height: 11px;  }
.flag.flag-ga { background-position: -1227px 0px; width: 16px; height: 11px;  }
.flag.flag-gb { background-position: -1243px 0px; width: 16px; height: 11px;  }
.flag.flag-gd { background-position: -1259px 0px; width: 16px; height: 11px;  }
.flag.flag-ge { background-position: -1275px 0px; width: 16px; height: 11px;  }
.flag.flag-gf { background-position: -1291px 0px; width: 16px; height: 11px;  }
.flag.flag-gh { background-position: -1307px 0px; width: 16px; height: 11px;  }
.flag.flag-gi { background-position: -1323px 0px; width: 16px; height: 11px;  }
.flag.flag-gl { background-position: -1339px 0px; width: 16px; height: 11px;  }
.flag.flag-gm { background-position: -1355px 0px; width: 16px; height: 11px;  }
.flag.flag-gn { background-position: -1371px 0px; width: 16px; height: 11px;  }
.flag.flag-gp { background-position: -1387px 0px; width: 16px; height: 11px;  }
.flag.flag-gq { background-position: -1403px 0px; width: 16px; height: 11px;  }
.flag.flag-gr { background-position: -1419px 0px; width: 16px; height: 11px;  }
.flag.flag-gs { background-position: -1435px 0px; width: 16px; height: 11px;  }
.flag.flag-gt { background-position: -1451px 0px; width: 16px; height: 11px;  }
.flag.flag-gu { background-position: -1467px 0px; width: 16px; height: 11px;  }
.flag.flag-gw { background-position: -1483px 0px; width: 16px; height: 11px;  }
.flag.flag-gy { background-position: -1499px 0px; width: 16px; height: 11px;  }
.flag.flag-hk { background-position: -1515px 0px; width: 16px; height: 11px;  }
.flag.flag-hm { background-position: -1531px 0px; width: 16px; height: 11px;  }
.flag.flag-hn { background-position: -1547px 0px; width: 16px; height: 11px;  }
.flag.flag-hr { background-position: -1563px 0px; width: 16px; height: 11px;  }
.flag.flag-ht { background-position: -1579px 0px; width: 16px; height: 11px;  }
.flag.flag-hu { background-position: -1595px 0px; width: 16px; height: 11px;  }
.flag.flag-id { background-position: -1611px 0px; width: 16px; height: 11px;  }
.flag.flag-ie { background-position: -1627px 0px; width: 16px; height: 11px;  }
.flag.flag-il { background-position: -1643px 0px; width: 16px; height: 11px;  }
.flag.flag-in { background-position: -1659px 0px; width: 16px; height: 11px;  }
.flag.flag-io { background-position: -1675px 0px; width: 16px; height: 11px;  }
.flag.flag-iq { background-position: -1691px 0px; width: 16px; height: 11px;  }
.flag.flag-ir { background-position: -1707px 0px; width: 16px; height: 11px;  }
.flag.flag-is { background-position: -1723px 0px; width: 16px; height: 11px;  }
.flag.flag-it { background-position: -1739px 0px; width: 16px; height: 11px;  }
.flag.flag-jm { background-position: -1755px 0px; width: 16px; height: 11px;  }
.flag.flag-jo { background-position: -1771px 0px; width: 16px; height: 11px;  }
.flag.flag-jp { background-position: -1787px 0px; width: 16px; height: 11px;  }
.flag.flag-ke { background-position: -1803px 0px; width: 16px; height: 11px;  }
.flag.flag-kg { background-position: -1819px 0px; width: 16px; height: 11px;  }
.flag.flag-kh { background-position: -1835px 0px; width: 16px; height: 11px;  }
.flag.flag-ki { background-position: -1851px 0px; width: 16px; height: 11px;  }
.flag.flag-km { background-position: -1867px 0px; width: 16px; height: 11px;  }
.flag.flag-kn { background-position: -1883px 0px; width: 16px; height: 11px;  }
.flag.flag-kp { background-position: -1899px 0px; width: 16px; height: 11px;  }
.flag.flag-kr { background-position: -1915px 0px; width: 16px; height: 11px;  }
.flag.flag-kw { background-position: -1931px 0px; width: 16px; height: 11px;  }
.flag.flag-ky { background-position: -1947px 0px; width: 16px; height: 11px;  }
.flag.flag-kz { background-position: -1963px 0px; width: 16px; height: 11px;  }
.flag.flag-la { background-position: -1979px 0px; width: 16px; height: 11px;  }
.flag.flag-lb { background-position: -1995px 0px; width: 16px; height: 11px;  }
.flag.flag-lc { background-position: -2011px 0px; width: 16px; height: 11px;  }
.flag.flag-li { background-position: -2027px 0px; width: 16px; height: 11px;  }
.flag.flag-lk { background-position: -2043px 0px; width: 16px; height: 11px;  }
.flag.flag-lr { background-position: -2059px 0px; width: 16px; height: 11px;  }
.flag.flag-ls { background-position: -2075px 0px; width: 16px; height: 11px;  }
.flag.flag-lt { background-position: -2091px 0px; width: 16px; height: 11px;  }
.flag.flag-lu { background-position: -2107px 0px; width: 16px; height: 11px;  }
.flag.flag-lv { background-position: -2123px 0px; width: 16px; height: 11px;  }
.flag.flag-ly { background-position: -2139px 0px; width: 16px; height: 11px;  }
.flag.flag-ma { background-position: -2155px 0px; width: 16px; height: 11px;  }
.flag.flag-mc { background-position: -2171px 0px; width: 16px; height: 11px;  }
.flag.flag-md { background-position: -2187px 0px; width: 16px; height: 11px;  }
.flag.flag-me { background-position: -2203px 0px; width: 16px; height: 12px;  }
.flag.flag-mg { background-position: -2219px 0px; width: 16px; height: 11px;  }
.flag.flag-mh { background-position: -2235px 0px; width: 16px; height: 11px;  }
.flag.flag-mk { background-position: -2251px 0px; width: 16px; height: 11px;  }
.flag.flag-ml { background-position: -2267px 0px; width: 16px; height: 11px;  }
.flag.flag-mm { background-position: -2283px 0px; width: 16px; height: 11px;  }
.flag.flag-mn { background-position: -2299px 0px; width: 16px; height: 11px;  }
.flag.flag-mo { background-position: -2315px 0px; width: 16px; height: 11px;  }
.flag.flag-mp { background-position: -2331px 0px; width: 16px; height: 11px;  }
.flag.flag-mq { background-position: -2347px 0px; width: 16px; height: 11px;  }
.flag.flag-mr { background-position: -2363px 0px; width: 16px; height: 11px;  }
.flag.flag-ms { background-position: -2379px 0px; width: 16px; height: 11px;  }
.flag.flag-mt { background-position: -2395px 0px; width: 16px; height: 11px;  }
.flag.flag-mu { background-position: -2411px 0px; width: 16px; height: 11px;  }
.flag.flag-mv { background-position: -2427px 0px; width: 16px; height: 11px;  }
.flag.flag-mw { background-position: -2443px 0px; width: 16px; height: 11px;  }
.flag.flag-mx { background-position: -2459px 0px; width: 16px; height: 11px;  }
.flag.flag-my { background-position: -2475px 0px; width: 16px; height: 11px;  }
.flag.flag-mz { background-position: -2491px 0px; width: 16px; height: 11px;  }
.flag.flag-na { background-position: -2507px 0px; width: 16px; height: 11px;  }
.flag.flag-nc { background-position: -2523px 0px; width: 16px; height: 11px;  }
.flag.flag-ne { background-position: -2539px 0px; width: 16px; height: 11px;  }
.flag.flag-nf { background-position: -2555px 0px; width: 16px; height: 11px;  }
.flag.flag-ng { background-position: -2571px 0px; width: 16px; height: 11px;  }
.flag.flag-ni { background-position: -2587px 0px; width: 16px; height: 11px;  }
.flag.flag-nl { background-position: -2603px 0px; width: 16px; height: 11px;  }
.flag.flag-no { background-position: -2619px 0px; width: 16px; height: 11px;  }
.flag.flag-np { background-position: -2635px 0px; width: 9px; height: 11px;  }
.flag.flag-nr { background-position: -2644px 0px; width: 16px; height: 11px;  }
.flag.flag-nu { background-position: -2660px 0px; width: 16px; height: 11px;  }
.flag.flag-nz { background-position: -2676px 0px; width: 16px; height: 11px;  }
.flag.flag-om { background-position: -2692px 0px; width: 16px; height: 11px;  }
.flag.flag-pa { background-position: -2708px 0px; width: 16px; height: 11px;  }
.flag.flag-pe { background-position: -2724px 0px; width: 16px; height: 11px;  }
.flag.flag-pf { background-position: -2740px 0px; width: 16px; height: 11px;  }
.flag.flag-pg { background-position: -2756px 0px; width: 16px; height: 11px;  }
.flag.flag-ph { background-position: -2772px 0px; width: 16px; height: 11px;  }
.flag.flag-pk { background-position: -2788px 0px; width: 16px; height: 11px;  }
.flag.flag-pl { background-position: -2804px 0px; width: 16px; height: 11px;  }
.flag.flag-pm { background-position: -2820px 0px; width: 16px; height: 11px;  }
.flag.flag-pn { background-position: -2836px 0px; width: 16px; height: 11px;  }
.flag.flag-pr { background-position: -2852px 0px; width: 16px; height: 11px;  }
.flag.flag-ps { background-position: -2868px 0px; width: 16px; height: 11px;  }
.flag.flag-pt { background-position: -2884px 0px; width: 16px; height: 11px;  }
.flag.flag-pw { background-position: -2900px 0px; width: 16px; height: 11px;  }
.flag.flag-py { background-position: -2916px 0px; width: 16px; height: 11px;  }
.flag.flag-qa { background-position: -2932px 0px; width: 16px; height: 11px;  }
.flag.flag-re { background-position: -2948px 0px; width: 16px; height: 11px;  }
.flag.flag-ro { background-position: -2964px 0px; width: 16px; height: 11px;  }
.flag.flag-rs { background-position: -2980px 0px; width: 16px; height: 11px;  }
.flag.flag-ru { background-position: -2996px 0px; width: 16px; height: 11px;  }
.flag.flag-rw { background-position: -3012px 0px; width: 16px; height: 11px;  }
.flag.flag-sa { background-position: -3028px 0px; width: 16px; height: 11px;  }
.flag.flag-sb { background-position: -3044px 0px; width: 16px; height: 11px;  }
.flag.flag-sc { background-position: -3060px 0px; width: 16px; height: 11px;  }
.flag.flag-scotland { background-position: -3076px 0px; width: 16px; height: 11px;  }
.flag.flag-sd { background-position: -3092px 0px; width: 16px; height: 11px;  }
.flag.flag-se { background-position: -3108px 0px; width: 16px; height: 11px;  }
.flag.flag-sg { background-position: -3124px 0px; width: 16px; height: 11px;  }
.flag.flag-sh { background-position: -3140px 0px; width: 16px; height: 11px;  }
.flag.flag-si { background-position: -3156px 0px; width: 16px; height: 11px;  }
.flag.flag-sj { background-position: -3172px 0px; width: 16px; height: 11px;  }
.flag.flag-sk { background-position: -3188px 0px; width: 16px; height: 11px;  }
.flag.flag-sl { background-position: -3204px 0px; width: 16px; height: 11px;  }
.flag.flag-sm { background-position: -3220px 0px; width: 16px; height: 11px;  }
.flag.flag-sn { background-position: -3236px 0px; width: 16px; height: 11px;  }
.flag.flag-so { background-position: -3252px 0px; width: 16px; height: 11px;  }
.flag.flag-sr { background-position: -3268px 0px; width: 16px; height: 11px;  }
.flag.flag-st { background-position: -3284px 0px; width: 16px; height: 11px;  }
.flag.flag-sv { background-position: -3300px 0px; width: 16px; height: 11px;  }
.flag.flag-sy { background-position: -3316px 0px; width: 16px; height: 11px;  }
.flag.flag-sz { background-position: -3332px 0px; width: 16px; height: 11px;  }
.flag.flag-tc { background-position: -3348px 0px; width: 16px; height: 11px;  }
.flag.flag-td { background-position: -3364px 0px; width: 16px; height: 11px;  }
.flag.flag-tf { background-position: -3380px 0px; width: 16px; height: 11px;  }
.flag.flag-tg { background-position: -3396px 0px; width: 16px; height: 11px;  }
.flag.flag-th { background-position: -3412px 0px; width: 16px; height: 11px;  }
.flag.flag-tj { background-position: -3428px 0px; width: 16px; height: 11px;  }
.flag.flag-tk { background-position: -3444px 0px; width: 16px; height: 11px;  }
.flag.flag-tl { background-position: -3460px 0px; width: 16px; height: 11px;  }
.flag.flag-tm { background-position: -3476px 0px; width: 16px; height: 11px;  }
.flag.flag-tn { background-position: -3492px 0px; width: 16px; height: 11px;  }
.flag.flag-to { background-position: -3508px 0px; width: 16px; height: 11px;  }
.flag.flag-tr { background-position: -3524px 0px; width: 16px; height: 11px;  }
.flag.flag-tt { background-position: -3540px 0px; width: 16px; height: 11px;  }
.flag.flag-tv { background-position: -3556px 0px; width: 16px; height: 11px;  }
.flag.flag-tw { background-position: -3572px 0px; width: 16px; height: 11px;  }
.flag.flag-tz { background-position: -3588px 0px; width: 16px; height: 11px;  }
.flag.flag-ua { background-position: -3604px 0px; width: 16px; height: 11px;  }
.flag.flag-ug { background-position: -3620px 0px; width: 16px; height: 11px;  }
.flag.flag-um { background-position: -3636px 0px; width: 16px; height: 11px;  }
.flag.flag-us { background-position: -3652px 0px; width: 16px; height: 11px;  }
.flag.flag-uy { background-position: -3668px 0px; width: 16px; height: 11px;  }
.flag.flag-uz { background-position: -3684px 0px; width: 16px; height: 11px;  }
.flag.flag-va { background-position: -3700px 0px; width: 16px; height: 11px;  }
.flag.flag-vc { background-position: -3716px 0px; width: 16px; height: 11px;  }
.flag.flag-ve { background-position: -3732px 0px; width: 16px; height: 11px;  }
.flag.flag-vg { background-position: -3748px 0px; width: 16px; height: 11px;  }
.flag.flag-vi { background-position: -3764px 0px; width: 16px; height: 11px;  }
.flag.flag-vn { background-position: -3780px 0px; width: 16px; height: 11px;  }
.flag.flag-vu { background-position: -3796px 0px; width: 16px; height: 11px;  }
.flag.flag-wales { background-position: -3812px 0px; width: 16px; height: 11px;  }
.flag.flag-wf { background-position: -3828px 0px; width: 16px; height: 11px;  }
.flag.flag-ws { background-position: -3844px 0px; width: 16px; height: 11px;  }
.flag.flag-ye { background-position: -3860px 0px; width: 16px; height: 11px;  }
.flag.flag-yt { background-position: -3876px 0px; width: 16px; height: 11px;  }
.flag.flag-za { background-position: -3892px 0px; width: 16px; height: 11px;  }
.flag.flag-zm { background-position: -3908px 0px; width: 16px; height: 11px;  }
.flag.flag-zw { background-position: -3924px 0px; width: 16px; height: 11px;  }
